@page "/"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

The users name is @name

@code {
    string name = "";

    protected override async Task OnInitializedAsync()
    {
        await sessionStorage.SetItemAsync("name", "John Smith");
        name = await sessionStorage.GetItemAsync<string>("name");
    }
}