@page "/"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>The user's name is <strong>@name</strong></p>

<input @bind="inputName" placeholder="Skriv nytt namn" />
<button @onclick="UpdateName">Spara namn</button>
<button @onclick="ClearData">Radera namnet</button>

@code {
    private string name = "";
    private string inputName = "";
    private string placeholder = "Skriv nytt namn";

    protected override async Task OnInitializedAsync()
    {
        // Ladda namn från session storage om det finns, annars sätt ett standardvärde
        name = await sessionStorage.GetItemAsync<string>("name");
        inputName = name;
    }

    private async Task UpdateName()
    {
        name = inputName;
        await sessionStorage.SetItemAsync("name", name);
    }

    private async Task ClearData()
    {
        await sessionStorage.RemoveItemAsync("name");
        name = "";
        inputName = "";
    }
}
